html{
  margin: 0;
}

/* COLORS */
/* #29abe2 */
/* #0071bc */

/* DIRECT HTML STYLING */
h1 {
  margin: 10px 0px;
  color: #333;
}

.logoText {
  color: #29abe2;
}

h2 {
  font-size: 20px;
  margin: 10px 0px;
}

h3 {
  margin: 10px 0px;
  color: #29abe2;
}

h4 {
  margin: 0;
}

input {
  margin-left: 10px;
  margin-top: 5px;
}

.smallInput {
  height: 15px;
  width: 30px;
  margin-right: 10px;
}

/* CLASS NAME CONTENT */
.header {
  text-align: center;
}

.flexbox {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 20;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
}

.button {
  cursor: pointer;
  text-align: center;
}

.button > a {
  text-decoration: none;
  color: inherit;
}

.row { 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
}

.headerRow {
  margin-left: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.alignLeft {
  justify-content: left;
  align-items: center;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.center {
  align-items: center;
}

.maxwidth {
  width: 100%;
}

/* GREETING PAGE */
.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 2.5;
}

.clickables {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 40%;
}

/* LOGIN */
.welcomeGreeting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


/* HOME */

.logoImage {
  padding-top: 2.5%;
  width: 32px;
  height: 32px;
}

.nutritionBank {
  flex: 2;
}

.mealPlan { 
  flex: 3;
}

.workoutPlan {
  flex: 3;
}

.currentPlan {
  text-decoration: underline;
}

/* FITNESS LOG */
.breakfast {
  text-align: left;
  margin-bottom: 20px;
}

.lunch {
  text-align: left;
  margin-bottom: 20px;
}

.dinner {
  text-align: left;
  margin-bottom: 20px;
}

.snacks {
  text-align: left;
  margin-bottom: 20px;
}

.exercises {
  text-align: left;
  margin-bottom: 80px;
}

.divider {
  height: 30px;
  width: 5px;
  margin: 0px 10px;
  border: none;
  background-color: #333;
}

/* ADD FOOD */
.results {
  width: 100%;
  text-align: center;
}

.results h2 {
  margin-left: 10px;
}

.searchbox {
  margin: 20px 0px;
}

.mealName {
  text-align: left;
}

.results {
  padding-bottom: 10vh;
}

.nutritionFacts {
  display: flex;
  flex-direction: column;
  max-width: 10vh;
  min-width: 10vh;
}
/* ADD EXERCISE */

/* MEAL / WORKOUT HOME */

.planHomeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid black;
  border-radius: 8px;
  height: 20vh;
  width: 40vh;
  text-decoration: none;
}

.planHomeLink {
  text-decoration: none;
  color: black;
}

/* CREATE A MEAL PLAN */
.entrybox {
  margin-bottom: 10px;
}

/* SELECT WORKOUT/MEAL PLAN */
.planBox {
  border: solid black;
  border-radius: 8px;
  width: 40vh;
  text-decoration: none;
}

.planBox > hr {
  margin-top: 0;
}

.planBox > h2 {
  font-style: inherit;
  color: black;
}

.imageBox {
  height: 20vh;
  overflow: hidden;
  margin: 0;
}

.planImage {
  height: 20vh;
  width: 400px;
  object-fit: cover
}

.planLink {
  text-decoration: none;
  color: black;
}

/* CREATE WORKOUT PLAN */
.dayBox {
  text-align: left;
  margin-bottom: 20px;
}

.day7 {
  text-align: left;
  margin-bottom: 80px;
}

/* CURRENT MEAL / WORKOUT PLAN */
.planTitle {
  text-decoration: underline;
  color: #29abe2;
}

.workoutInfo {
  text-align: left;
  max-width: 10vh;
  min-width: 10vh;
  height: auto;
}

.planRow {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 12px;
}

/* NAVIGATION */
.navbar {
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: space-evenly;
  bottom: 0;
  position: fixed;
  align-items: center;
  background-color: rgb(200, 200, 200);
  height: 50px;
  width: 100%;
}

/* ID CONTENT */
#border {
  display: flex;
  border: black 2px 2px;
  border-style: solid;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
}

#border:hover {
  background-color: rgb(202, 202, 202);
}

#planButton {
  border: black 2px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 18% 0px;
}