html{
  margin: 0;
}

/* DIRECT HTML STYLING */
h1 {
  margin: 10px 0px;
}

h2 {
  font-size: 20px;
  margin: 10px 0px;
}

h3 {
  margin: 10px 0px;
}

h4 {
  margin: 0;
}

input {
  margin-left: 10px;
  margin-top: 10px;
}

.smallInput {
  height: 15px;
  width: 30px;
  margin-right: 10px;
}

/* CLASS NAME CONTENT */
.header {
  text-align: center;
}

.flexbox {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex: 20;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
}

.button {
  cursor: pointer;
  text-align: center;
}

.button > a {
  text-decoration: none;
  color: inherit;
}

.row { 
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.center {
  align-items: center;
}

.maxwidth {
  width: 100%;
}

/* GREETING PAGE */
.logo {
  justify-content: space-between;
  flex: 2.5;
}

.clickables {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 40%;
}

/* HOME */
.nutritionBank {
  flex: 2;
}

.mealPlan { 
  flex: 3;
}

.workoutPlan {
  flex: 3;
}

.currentPlan {
  text-decoration: underline;
}

/* FITNESS LOG */
.breakfast {
  text-align: left;
  margin-bottom: 20px;
}

.lunch {
  text-align: left;
  margin-bottom: 20px;
}

.dinner {
  text-align: left;
  margin-bottom: 20px;
}

.snacks {
  text-align: left;
  margin-bottom: 20px;
}

.exercises {
  text-align: left;
  margin-bottom: 80px;
}

/* ADD FOOD */
.results {
  width: 100%;
}

.results h2 {
  margin-left: 10px;
}

.searchbox {
  margin: 20px 0px;
}

/* ADD EXERCISE */

/* CREATE A MEAL PLAN */
.entrybox {
  margin-bottom: 10px;
}

/* SELECT WORKOUT/MEAL PLAN */
.planBox {
  border: solid black;
  border-radius: 8px;
  width: 40vh;
}

.imageBox {
  height: 10vh;
}


/* CREATE WORKOUT PLAN */
.dayBox {
  text-align: left;
  margin-bottom: 20px;
}

.day7 {
  text-align: left;
  margin-bottom: 80px;
}



/* NAVIGATION */
.navbar {
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: space-evenly;
  bottom: 0;
  position: fixed;
  align-items: center;
  background-color: rgb(200, 200, 200);
  height: 50px;
  width: 100%;
}

/* ID CONTENT */
#border {
  display: flex;
  border: black 2px 2px;
  border-style: solid;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
}

#border:hover {
  background-color: rgb(202, 202, 202);
}

#planButton {
  border: black 2px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 18% 0px;
}